.modal {
    position: fixed;
    width: 22%;
    height: 100vh;
    top: 0;
    right: -22%;
    z-index: 3;
    background: #fff;
    align-items: center;
    justify-content: center;
    display: flex;
}